build/
build-static/
debug/
dist/
data/*
include/*
!include/rume_api.h
lib/*
bin/*
share/*
plugins/*/
env.bat
node_modules/
*~
.*.swp
.cache/
*.7z
.DS_Store
deps/*.tar.xz
version-info.txt

/target
/deps/boost-1.89.0/
/deps/boost_1_89_0.tar.gz

*_test.custom.yaml
