[package]
name = "rume_extension"
version = "0.1.0"
edition = "2021"

[lib]
crate-type = ["staticlib"]
name = "rume_extension"

[profile.release]
strip = true
opt-level = "z"
lto = true
codegen-units = 1
panic = "abort"

[dependencies]
libc = "0.2.178"
